################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InteractiveCovidMap/obj
/InteractiveCovidMap.Tests/obj/Debug/netcoreapp3.1
/InteractiveCovidMap.Tests/obj
/.vs/InteractiveCovidMap/v16
/InteractiveCovidMap/bin/Debug/netcoreapp3.1
/InteractiveCovidMap.Tests/bin/Debug/netcoreapp3.1
